<style type="text/css">
  .header {
    background: #8a8a8a;
  }
  .header p {
    color: #fff;
    padding-top: 15px;
  }
  .header .wrapper-inner {
    padding: 20px;
  }
  .header .container {
    background: transparent;
  }
</style>

<container>

  <spacer size="16"></spacer>
      <h1>Hi, <%= name %></h1>
      <p class="lead">A Big Surprise For You</p>
      <p>Avail big discount upto 60% off using coupon code <%= code %>  on choosing Access Points as your delivery mode while ordering from Amazon</p>
      <p> You can use this code till three days after getting this mail</p>
  
</container>